<nav aria-label="breadcrumb" class="mb-4">
    <ol class="breadcrumb mb-0 bg-transparent p-0">
        <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}" class="text-decoration-none text-muted"><i class="bi bi-house-door me-1"></i> Home</a></li>
        {% if request.resolver_match.app_name %}
            <li class="breadcrumb-item active text-capitalize fw-semibold text-primary" aria-current="page">
                {{ request.resolver_match.app_name }}
            </li>
        {% endif %}
    </ol>
</nav>